@model IEnumerable<CategoriesViewModel>
@{
    ViewData["Title"] = "Index";
}
@section Header{
    Index
}

<a  asp-action="Create" asp-controller="Category" class="btn btn-info p-1 my-3">Create</a>
<div class="col-md-12">

<div class="card">
              <div class="card-header">
                <h3 class="card-title">All Categories</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Category Name</th>
                      <th>Status</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                      @foreach(var category in Model){
                           <tr>
                      <td>@category.Name</td>
                    
                      <td>@category.IsDeleted</td>
                      <td>
                          <a asp-action="Edit" asp-controller="Category"
                          asp-route-id="@category.Id" class="btn btn-warning">Edit</a>
                          <a asp-action="Details" asp-controller="Category"
                          asp-route-id="@category.Id" class="btn btn-info">Details</a>
                          <a asp-action="Delete" asp-controller="Category"
                          asp-route-id="@category.Id" class="btn btn-danger">Delete</a>
                       </td>
                    </tr>
                      }
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
              <div class="card-footer clearfix">
                <ul class="pagination pagination-sm m-0 float-right">
                  <li class="page-item"><a class="page-link" href="#">«</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
              </div>
            </div>
</div>
